* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inizio container  */
.container{
    width: 57%;   
    margin: 30px auto;
}
/* Fine container  */

/* Inizio card features */
.card{
    display: inline-block;
    position: relative;
    font-family: 'Times New Roman', Times;
    padding: 2px;
}

.card:hover .image{
    display: none;
}

.card:hover .nd-image{
    display: inline;
}

.image{
    height: 350px;
    width: 250px;
    display: inline;
}

.nd-image{
    display: none;
    height: 350px;
    width: 250px;
}

#single-image{
    height: 350px;
    width: 250px;
}

.discount{
    background-color: red;
    color: white;
    position: absolute;
    bottom: 18%;
    left: 1%;
}

.material {
    background-color: green;
    color: white;
    position: absolute;
    bottom: 18%;
    left: 16%;
}

.sixth{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 18%;
    left: 1%;
}

.heart{
    background-color: white;
    position: absolute;
    height: 40px;
    width: 35px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    top: 10%;
    right: 0;
}

.strong{
    font-weight: bold;
}

.text-red {
    color: red;
    font-size: 15px;
    font-weight: 400;
}

.text-crossed{
    color: black;
    text-decoration: line-through;
    
}
/* Fine Card features */
